<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EncryptedConnectionString" value="zn40FTqQFXtmzT0V6ObW0o9+wAV10gkV73Xw1LroWjIAqiTFUJy9m6D51kTIIMmzaqix+ZVhzVqiUzgHF5pNv/uaagMfYHla/a6szjAhjHKafR8xUPZTWKmez0083NDAWm66JCJ9JuigGABB+5S2aYXzz+hEk52EvmPIwsxRhkrgartcG8t83sFpPpMBvupMiDjboztriTJRGBFrm93Heg==" />
		<add key="CloudinaryCloudName" value="6vhuTJfeL8kORIz73FYNug==" />
		<add key="CloudinaryApiKey" value="N5jdsbFQRwe55dAmD0l3TQ==" />
		<add key="CloudinaryApiSecret" value="WSPaKNmLlqMHrUOsN2tLWcPaeGfgP5WnE93YTJEoz5c=" />
	</appSettings>
</configuration>